.back{
    background-color:#1abc9c;
}
.star{
    position:relative ;
}
.star::after{
    content: '';
    background-color: white;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 50%;
 left: 130%;
 border-radius: 30px;
}
.star::before{
    content: '';
    background-color: white;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 50%;
 right: 130%;
 border-radius: 30px;
}
.title h1{
    color: #fff!important;
    font-size: 4rem;
    line-height: 3.5rem;
     
}
.para{
    color: #fff!important;
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 10%;
}